<odoo>
	<data noupdate='0'>

		<menuitem name="Mappings" parent="zbsync.root_menu" id="root_menu" sequence="10000" />

		<record id='mappings_action' model='ir.actions.act_window'>
			<field name='name'>Mappings</field>
			<field name='res_model'>zbs.mapping</field>
			<field name='view_mode'>tree</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="root_menu" id="menu_mappings" action="mappings_action" sequence="5000"/>

		<record id='mappers_action' model='ir.actions.act_window'>
			<field name='name'>Mappers</field>
			<field name='res_model'>zbs.mapper</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="root_menu" id="menu_mappers" action="mappers_action"/>

	</data>
</odoo>
