<odoo>
	<data noupdate='0'>

		<record id='excel_dumper_action' model='ir.actions.act_window'>
			<field name='name'>CSV/Excel</field>
			<field name='res_model'>zbs.dumper.csvexcel</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> Nothing found!</p>]]></field>
		</record>
		<menuitem parent="zbsync.menu_dumpers" id="menu_excel_dumper" action="excel_dumper_action"/>

		<record id='excel_grabber_action' model='ir.actions.act_window'>
			<field name='name'>CSV/Excel</field>
			<field name='res_model'>zbs.grabber.csvexcel</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> Nothing found!</p>]]></field>
		</record>
		<menuitem parent="zbsync.menu_grabbers" id="menu_excel_grabber" action="excel_grabber_action"/>


	</data>
</odoo>
